@font-face {
  font-family: 'donggri';
  src:  url('/css/fonts/donggri.eot?s87ahl');
  src:  url('/css/fonts/donggri.eot?s87ahl#iefix') format('embedded-opentype'),
    url('/css/fonts/donggri.ttf?s87ahl') format('truetype'),
    url('/css/fonts/donggri.woff?s87ahl') format('woff'),
    url('/css/fonts/donggri.svg?s87ahl#donggri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'donggri' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-upload:before {
  content: "\e967";
}
.i-navigation-more:before {
  content: "\e90a";
}
.i-indeterminate_check_box:before {
  content: "\e90c";
}
.i-check_box_outline_blank:before {
  content: "\e90e";
}
.i-check_box:before {
  content: "\e966";
}
.i-widgets:before {
  content: "\e900";
}
.i-weather:before {
  content: "\e901";
}
.i-app_ing:before {
  content: "\e902";
}
.i-userid:before {
  content: "\e903";
}
.i-user:before {
  content: "\e904";
}
.i-tack:before {
  content: "\e905";
}
.i-flod:before {
  content: "\e906";
}
.i-resource:before {
  content: "\e907";
}
.i-resize:before {
  content: "\e908";
}
.i-calender:before {
  content: "\e909";
}
.i-arrow_first:before {
  content: "\e90b";
}
.i-arrow_last:before {
  content: "\e90d";
}
.i-document:before {
  content: "\e90f";
}
.i-board:before {
  content: "\e910";
}
.i-approval:before {
  content: "\e911";
}
.i-admin:before {
  content: "\e912";
}
.i-document_approval:before {
  content: "\e913";
}
.i-app_req:before {
  content: "\e914";
}
.i-arrow_left:before {
  content: "\e915";
}
.i-arrow_right:before {
  content: "\e916";
}
.i-button:before {
  content: "\e917";
}
.i-cancel:before {
  content: "\e918";
}
.i-check:before {
  content: "\e919";
}
.i-checkbox:before {
  content: "\e91a";
}
.i-cname:before {
  content: "\e91b";
}
.i-column:before {
  content: "\e91c";
}
.i-currency:before {
  content: "\e91d";
}
.i-database:before {
  content: "\e91e";
}
.i-date:before {
  content: "\e91f";
}
.i-datepicker:before {
  content: "\e920";
}
.i-department:before {
  content: "\e921";
}
.i-doc_number:before {
  content: "\e922";
}
.i-doc_title:before {
  content: "\e923";
}
.i-document_Managing:before {
  content: "\e924";
}
.i-dropdown:before {
  content: "\e925";
}
.i-edit:before {
  content: "\e926";
}
.i-editor:before {
  content: "\e927";
}
.i-email:before {
  content: "\e928";
}
.i-empcode:before {
  content: "\e929";
}
.i-excel:before {
  content: "\e92a";
}
.i-fax:before {
  content: "\e92b";
}
.i-filter:before {
  content: "\e92c";
}
.i-first:before {
  content: "\e92d";
}
.i-folder:before {
  content: "\e92e";
}
.i-form:before {
  content: "\e92f";
}
.i-group_Managing:before {
  content: "\e930";
}
.i-hiddenfield:before {
  content: "\e931";
}
.i-home:before {
  content: "\e932";
}
.i-hyperlink:before {
  content: "\e933";
}
.i-image_control:before {
  content: "\e934";
}
.i-input:before {
  content: "\e935";
}
.i-label:before {
  content: "\e936";
}
.i-language:before {
  content: "\e937";
}
.i-last:before {
  content: "\e938";
}
.i-list:before {
  content: "\e939";
}
.i-list_popup:before {
  content: "\e93a";
}
.i-list_search:before {
  content: "\e93b";
}
.i-logo:before {
  content: "\e93c";
}
.i-logout:before {
  content: "\e93d";
}
.i-menu:before {
  content: "\e93e";
}
.i-menu_Managing:before {
  content: "\e93f";
}
.i-mobile:before {
  content: "\e940";
}
.i-more:before {
  content: "\e941";
}
.i-next:before {
  content: "\e942";
}
.i-numberic:before {
  content: "\e943";
}
.i-org:before {
  content: "\e944";
}
.i-parameter:before {
  content: "\e945";
}
.i-password:before {
  content: "\e946";
}
.i-pdf:before {
  content: "\e947";
}
.i-plus:before {
  content: "\e948";
}
.i-popup:before {
  content: "\e949";
}
.i-position:before {
  content: "\e94a";
}
.i-prev:before {
  content: "\e94b";
}
.i-radio:before {
  content: "\e94c";
}
.i-refresh:before {
  content: "\e94d";
}
.i-rightarrow:before {
  content: "\e94e";
}
.i-save:before {
  content: "\e94f";
}
.i-search:before {
  content: "\e950";
}
.i-sort-asc:before {
  content: "\e951";
}
.i-sort-desc:before {
  content: "\e952";
}
.i-table:before {
  content: "\e953";
}
.i-tel:before {
  content: "\e954";
}
.i-temp:before {
  content: "\e955";
}
.i-template:before {
  content: "\e956";
}
.i-textarea:before {
  content: "\e957";
}
.i-time:before {
  content: "\e958";
}
.i-today:before {
  content: "\e959";
}
.i-trash1:before {
  content: "\e95a";
}
.i-tree:before {
  content: "\e95b";
}
.i-underarrow:before {
  content: "\e95c";
}
.i-user_id:before {
  content: "\e95d";
}
.i-user_name:before {
  content: "\e95e";
}
.i-user_tel:before {
  content: "\e95f";
}
.i-write:before {
  content: "\e960";
}
.i-zipcode:before {
  content: "\e961";
}
.i-address:before {
  content: "\e962";
}
.i-badmin:before {
  content: "\e963";
}
.i-adminsetting:before {
  content: "\e964";
}
.i-app_com:before {
  content: "\e965";
}
.i-chevron_up:before {
  content: "\e9cf";
}
